@import 'variables';
@import '~bootstrap/scss/bootstrap';

// Clear
html {
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
}

body {
  width: 100%;
  height: 100%;
}

.navbar-dark button:focus .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 136, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Header */
.logo-b {
	color:rgb(255, 136, 0);
}

.logo-a {
	color: rgb(145, 145, 146);
}

.nav-secundaria {
  background-color: #474646;
  
  .nav-link {
    color: #FFFFFF;
    font-size: 14px;
  }
}


.dropdown-toggle::after {
	color: white;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px; 
}

/* Body */
body { /* fallback for old browsers */
	background: rgb(38, 153, 247); 
	background: -webkit-linear-gradient(right, rgb(144, 146, 146), rgb(253, 167, 96));
	background: -moz-linear-gradient(right, rgb(144, 146, 146), rgb(255, 188, 134));
	background: -o-linear-gradient(right, rgb(144, 146, 146), rgb(255, 188, 134));
	background: linear-gradient(to left, rgb(144, 146, 146), rgb(255, 188, 134));
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;     
}

main {
	padding-right: 20px;
	padding-left: 20px;
	position: relative;
}

.card {
	background-color: #4746467c;
	color: rgb(211, 208, 208);
}

/* footer */
footer {
	background-color: #000000;
	color: #F2FFFC;
	clear: both;
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
	height: 20px;
	font-size: 12px;
}

.social-icon {
	display: flex;
	flex-direction: column;
	color: #FFFFFF
}

.card-login {
	background-color: #FFFFFF;
	padding: 2% 0 0;
	margin: auto;
}

.card-register{
	background-color: #FFFFFF;
	// width: 600px;
	padding: 2% 0 0;
	margin: auto;
}

.btn-outline-info {
	color: #f7901a;
	background-color: transparent;
	background-image: none;
	border-color: #f7901a;
}
  
.btn-outline-info:hover {
	color: #fff;
	background-color: #f7901a;
	border-color: #f7901a;
}

button:focus {
  outline-color: rgb(255, 136, 0);
}

.btn-outline-info:focus, .btn-outline-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 134, 20, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
	color: #f7901a;
	background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
	color: #fff;
	background-color: #f7901a;
	border-color: #f7901a;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 160, 35, 0.5);
}